.background {
    -fx-background-image: url("images/fondoApp.jpg");
    -fx-background-position: center;
    -fx-background-size:cover;
    -fx-background-repeat:no-repeat;
}

.backgroundIniciar {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-position: center;
    -fx-background-radius: 15;
    -fx-background-repeat:no-repeat;
}

.botones {
    -fx-background-color: rgb(206, 94, 20);
}

.background2 {
    -fx-background-color: rgb(48, 43, 43);
}

.profileImage{
-fx-background-image: url("images/profile-img.jpg");-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-size:cover;
-fx-background-color: transparent;
-fx-padding: 10px;
}

.image{
        -fx-border-style: dotted;
        -fx-border-width: 2px;
        -fx-border-color: white;
}